.sectionContainer {
    max-width: 1120px;
    width: 100%;
    padding: 0 0.8rem 0.8rem;
    margin: 0 1rem;
    color: var(--gray-300);
    background-color: var(--gray-500);
    border-radius: 0.25rem;
    display: grid;
    grid-template-areas:
        "title title"
        "category world"
        "category sellOffers"
        "items sellOffers"
        "items buyOffers"
        "howMuch howMuch"
    ;
    grid-template-columns: 300px auto;

    @media (max-width:720px) {
        grid-template-areas:
            "title"
            "world"
            "category"
            "items"
            "buyOffers"
            "sellOffers"
            "howMuch"
        ;

        grid-template-columns: 1fr;
    }

    .title {
        background-color: var(--gray-700);
        grid-area: title;
        margin: -0.5rem -0.8rem 0;
        text-align: center;
        padding: 0.5rem;
        border-radius: 0.7rem 0.7rem 0 0;
    }

    .world {
        grid-area: world;
        padding: 1rem 0;

        span {
            background-color: var(--gray-700);
            border-radius: 0.25rem;
            padding: 0.6rem;
            margin-left: 1rem;

            select {
                margin-left: 0.8rem;
                background-color: var(--gray-500);
                border: 0;
                color: var(--gray-300);
                padding: 0.25rem 0.5rem;
                border-radius: 0.25rem;
                width: 250px;
            }
        }
    }

    .category {
        grid-area: category;
        background-color: var(--gray-700);
        margin-top: 1rem;

        select {
            width: 100%;
            height: 100%;
            background-color: inherit;
            color: inherit;
        }
    }

    .items {
        grid-area: items;
        margin-top: 1rem;
        background-color: var(--gray-700);
        padding: 0.5rem;
        list-style-type: none;


        li {
            display: flex;
            align-items: center;


            &+li {
                margin-top: 1rem;
            }

            img {
                margin-right: 1rem;
            }
        }

    }

    .sellOffers {
        height: 15rem;
        grid-area: sellOffers;
        margin-left: 1rem;
        background-color: var(--gray-700);
    }

    .buyOffers {
        height: 15rem;
        grid-area: buyOffers;
        margin-left: 1rem;
        background-color: var(--gray-700);
        margin-top: 1rem;
    }

    .howMuch {
        background-color: var(--gray-700);
        display: flex;
        justify-content: space-around;
        grid-area: howMuch;
        height: 4rem;
        align-items: center;
        margin-top: 1rem;

        label {
            input {
                margin-left: 0.5rem;
                padding: 0.4rem;
                background-color: var(--gray-500);
                color: var(--gray-300);
            }
        }
    }
}