.sectionContainer {
    max-width: 1120px;
    margin-top: 2rem;
    width: 100%;
    padding: 0 0.8rem 0.8rem;
    margin: 0 1rem;
    color: var(--gray-300);
    background-color: var(--gray-500);
    border-radius: 0.25rem;
    display: grid;
    grid-template-areas:
        "title title"
        "items world"
        "items sellOffers"
        "items sellOffers"
        "items buyOffers"
        "items howMuch"
    ;
    grid-template-columns: minmax(200px, 300px) auto;
    gap: 1rem;

    @media (max-width:720px) {
        grid-template-areas:
            "title"
            "world"
            "category"
            "items"
            "sellOffers"
            "buyOffers"
            "howMuch"
        ;

        grid-template-columns: 1fr;
    }

    .title {
        background-color: var(--gray-700);
        grid-area: title;
        margin: -0.5rem -0.8rem 0;
        text-align: center;
        padding: 0.5rem;
        border-radius: 0.7rem 0.7rem 0 0;
    }

    .world {
        grid-area: world;
        width: 200px;

        .select {

            [class$="control"] {
                background-color: var(--gray-700);
                border: 0;

                [class$="ValueContainer"] {

                    [class$="singleValue"] {
                        color: var(--gray-300);
                    }
                }

                [class$="indicatorsContainer"] {

                    [class$="indicatorContainer"] {}
                }
            }

            [class$="menu"] {
                background-color: var(--gray-700);

                [class$="valueContainer"] {
                    background-color: red;
                }
            }
        }
    }

    .category {
        grid-area: category;
        background-color: var(--gray-700);


        select {
            background-color: inherit;
            color: inherit;
            width: 100%;
            height: 100%;
        }
    }

    .items {
        grid-area: items;
        background-color: var(--gray-700);
        padding: 0.5rem;
        list-style-type: none;

        li {
            display: flex;
            align-items: center;
            padding: 0.5rem;

            &:hover {
                background-color: var(--gray-500);
                cursor: pointer;
            }

            &+li {
                margin-top: 1rem;
            }

            img {
                margin-right: 1rem;
            }
        }
    }

    .sellOffers {
        height: 15rem;
        grid-area: sellOffers;
        background-color: var(--gray-700);
        padding: 1rem;
        overflow-y: scroll;

        table {
            tbody {
                tr {

                    th,
                    td {
                        padding: 0.5rem;
                    }
                }
            }
        }
    }

    .buyOffers {
        padding: 1rem;
        height: 15rem;
        grid-area: buyOffers;
        background-color: var(--gray-700);
        overflow-y: scroll;

        table {
            tbody {
                tr {

                    th,
                    td {
                        padding: 0.5rem;
                    }
                }
            }
        }
    }

    .howMuch {
        background-color: var(--gray-700);
        grid-area: howMuch;


        p {
            padding: 1rem;
            text-align: center;
        }

        article {
            margin-bottom: 1rem;

            label {
                margin-left: 1rem;
                display: inline-block;

                input {
                    padding: 0.4rem;
                    background-color: var(--gray-500);
                    color: var(--gray-300);
                    margin: 0.5rem;
                    width: 150px;
                }

                button {
                    background-color: var(--gray-500);
                    color: var(--gray-300);
                    padding: 0.3rem 0.7rem;
                    border-radius: 0.5rem;
                    border: none;
                }
            }
        }
    }
}