* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;

    --gray-300: #a89e9e;
    --gray-400: #635757;
    --gray-700: #232020;

    --orange-500: #D38604;

    --blue-800: #07081D;
}

body {
    font-family: "roboto";
}