* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;

    --gray-200: #a89e9e;
    --gray-300: #878787;
    --gray-400: #635757;
    --gray-500: #474747;
    --gray-700: #232020;

    --orange-500: #D38604;

    --blue-800: #07081D;
}

body,
select,
p,
span,
input {
    font-family: "roboto";
    font-size: 1rem;
}

button,
a {
    cursor: pointer;
}