.mainContainer {
    background-color: var(--blue-800);
    height: calc(100vh - 11rem);
    display: flex;
    flex: 200px;
}

.sectionContainer {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    span {
        margin: 0 auto;
        color: var(--white);

        h1 {
            color: var(--orange-500);
        }
    }

    img{
        margin-right: 0.5rem;
        margin: 0 auto;
        min-width: 50%;
        height: auto;
        padding: 0.25rem;
    }

}