.mainContainer {
    background-color: var(--blue-800);
    height: calc(100vh - 11rem);
    display: flex;
    align-items: center;



    .sectionContainer {
        padding: 0 0.8rem 0.8rem;
        max-width: 1120px;
        width: 100%;
        margin: 0 auto;
        color: var(--gray-300);
        background-color: var(--gray-500);
        border-radius: 0.25rem;
        display: grid;
        grid-template-areas:
            "title title"
            "category world"
            "category sellOffers"
            "items sellOffers"
            "items buyOffers"
        ;

        .title {
            background-color: var(--gray-700);
            border: 1px solid;
            grid-area: title;
            margin: 0 -0.8rem;
        }

        .world {
            grid-area: world;
        }

        .category {
            grid-area: category;
        }

        .items {
            grid-area: items;
        }

        .sellOffers {
            grid-area: sellOffers;
        }

        .buyOffers {
            grid-area: buyOffers;
        }
    }
}